@font-face {
    font-family: 'Play';
    src: url('../fonts/Play/Play-Bold.ttf');
    src: url('../fonts/Play/Play-Regular.ttf');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@mixin bold {
    font-family: 'Play-Bold', sans-serif;
    font-size: 50px;
    font-weight: 700;
  }

@mixin reg {
    font-family: 'Play-Regular', sans-serif;
    text-align: center;
    font-size: 40px;
    font-weight: 400;
  }