*
  box-sizing: border-box
  +reg
::-webkit-scrollbar 
  width: 0
  height: 0

body
  background: url('../img/bg.jpg') no-repeat
  background-size: cover

a
  text-decoration: none

.container
  // margin: auto
  
.main
  width: 60%
  position: absolute
  top: 50%
  left: 50%
  -webkit-transform: translate(-50%,-50%)
  -ms-transform: translate(-50%,-50%)
  transform: translate(-50%,-50%)

.btn
  min-height: 200px
  padding: 30px 10px
  border-radius: 20px
  transition: all 0.3s ease
  background-color: rgba(51, 51, 51, 0.8)
  outline: none
  display: flex
  justify-content: center
  align-items: center
  text-align: center
  &__text
    padding: 0px 10px
    display: flex
    justify-content: center
    align-items: center
    width: 100%
    height: 100%
    color: #FFEFD5
    text-decoration: none
    line-height: 34px
    font-size: 24px
    font-weight: 700
    +bold
  &:hover
    background: #2EE59D
    box-shadow: 0 15px 20px rgba(46, 229, 157, .4)
  &-info
    display: flex
    &__icon
      width: 70%
      height: 100%
      background: url('../img/info.svg') no-repeat 50%
      background-size: 100px
  &-vmware
    display: flex
    &__icon
      width: 70%
      height: 100%
      background: url('../img/vmware-horizon.png') no-repeat 50%
      background-size: 120px
  &-outlook
    display: flex
    &__icon
      width: 70%
      height: 100%
      background: url('../img/outlook.png') no-repeat 50%
      background-size: 100px
  &-otrs
    display: flex
    &__icon
      width: 70%
      height: 100%
      background: url('../img/otrs.png') no-repeat 50%
      background-size: 100px
  &-helpdesk
    display: flex
    &__icon
      width: 70%
      height: 100%
      background: url('../img/help-desk.png') no-repeat 50%
      background-size: 100px
  &-cloud
    display: flex
    &__icon
      width: 70%
      height: 100%
      background: url('../img/cloud.svg') no-repeat 50%
      background-size: 100px
  &-back
    display: flex
    flex-wrap: wrap
    justify-content: space-between
    margin-top: 10px
    &__item
      margin-top: -200px
      height: 150px
      min-width: 300px
      padding: 30px 10px
      border-radius: 20px
      transition: all 0.3s ease
      background-color: rgba(51, 51, 51, 0.8)
      outline: none
      display: flex
      justify-content: center
      align-items: center
      text-align: center
      &:hover
        background: #2EE59D
        box-shadow: 0 15px 20px rgba(46, 229, 157, .4)
    &__icon
      margin-left: 30px
      width: 70%
      height: 100%
      background: url('../img/back.svg') no-repeat 50%
      background-size: 110px
  &-jitsi
    &__icon
      width: 70%
      height: 100%
      background: url('../img/jitsi.png') no-repeat 50%
      background-size: 250px
  &-spark
    &__icon
      width: 70%
      height: 100%
      background: url('../img/spark.png') no-repeat 50%
      background-size: 100px

.section
  &-blocks
    &__item
      display: flex
      flex-wrap: wrap
      justify-content: space-between
      margin-top: 10px
    &__button
      margin-bottom: 10px
      flex-basis: 33%

@media (max-width: 2500px)
  body
    background-size: unset
  .main
    width: 60%
  .btn
    max-width: 400px
    max-height: 200px
    &__text
      line-height: 32px
      font-size: 25px
    
@media (max-width: 1700px)
  .main
    width: 80%
  .btn
    max-height: 165px
    &__text
      line-height: 25px
      letter-spacing: 1px
      font-size: 20px

@media (max-width: 1500px)
  .main
    width: 80%
  .btn
    &-info
      &__icon
        background-size: 100px
    &-vmware
      &__icon
          background-size: 100px
    &-outlook
      &__icon
          background-size: 90px
    &-otrs 
      &__icon
          background-size: 90px
    &-helpdesk
      &__icon
          background-size: 90px
    &-cloud
      &__icon
          background-size: 90px

@media (max-width: 1300px)
  .main
    display: flex
    justify-content: center
    align-items: center
    margin: auto
    width: 80%
    position: relative
    top: 0%
    left: 0%
    -webkit-transform: translate(0%,0%)
    -ms-transform: translate(0%,0%)
    transform: translate(0%,0%)
  .section
    &-blocks
      &__button
        min-height: 150px
        flex-basis: 49%
  .btn
    &-info 
      &__icon
        background-size: 90px
    &-cloud
      &__item
        flex-basis: 100%
        margin-right: 10px
    &-spark
      &__icon
        background-size: 80px
    &-back
      display: none

@media (max-width: 900px)
  .btn
    &__text
      line-height: 30px
      letter-spacing: 1px
      font-size: 22px
    &-vmware
      &__icon
        display: none
    &-outlook
      &__icon
        display: none
    &-info
      &__icon
        display: none
    &-otrs 
      &__icon
        display: none
    &-helpdesk
      &__icon
        display: none
    &-cloud
      &__icon
        display: none
    &-spark
      &__icon
        display: none
    &-jitsi
      &__icon
        display: none

@media (max-width: 515px)
  .section
    &-blocks
      &__button
        min-height: 150px
        flex-basis: 100%
  .btn
    max-height: 150px
    &:hover
      background-color: #333
      box-shadow: 0 0
    &-info 
      &__icon
        display: block
        width: 50%
        background-size: 80px
    &-outlook
      &__icon
        display: block
        width: 50%
        background-size: 90px
    &-vmware
      display: none
      &__icon
        display: block
        width: 50%
        background-size: 100px
    &-otrs 
      &__icon
        display: block
        width: 50%
        background-size: 100px
    &-helpdesk
      &__icon
        display: block
        width: 50%
        background-size: 100px
    &-cloud
      &__icon
        display: block
        width: 50%
        background-size: 80px
    &-spark
      &__icon
        display: block
        background-size: 80px
    &-jitsi
      &__icon
        display: block
        background-size: 170px
    &__text
      max-width: 255px
      line-height: 27px
      letter-spacing: 0px
      font-size: 20px

@media (max-width: 370px)
  .main
    width: 95%
  .section
    &-blocks
      &__button
        min-height: 75px
  .btn
    padding: 10px 5px
    max-height: 50px
    &-vmware
      display: none
    &-outlook
      &__icon
        background-size: 50px
    &-info
      &__icon
        background-size: 50px
    &-otrs 
      &__icon
        background-size: 50px
    &-helpdesk
      &__icon
        background-size: 50px
    &-cloud
      &__icon
        background-size: 50px
    &-spark
      &__icon
        background-size: 50px
    &-jitsi
      &__icon
        background-size: 120px
    &__text
      line-height: 18px
      letter-spacing: 0px
      font-size: 16px
      
@media (max-width: 235px)
  .btn
    padding: 5px 5px
    max-height: 20px
    &__text
      line-height: 12px
      letter-spacing: 0px
      font-size: 14px
    &-outlook
      &__icon
        width: 37%
        background-size: 35px
    &-info
      &__icon
        width: 37%
        background-size: 35px
    &-otrs 
      &__icon
        width: 35%
        background-size: 35px
    &-helpdesk
      &__icon
        width: 37%
        background-size: 35px
    &-cloud
      &__icon
        width: 37%
        background-size: 35px
    &-jitsi
      &__icon
        display: none
    &-spark
      &__icon
        width: 37%
        background-size: 35px
  .section
    &-blocks
      &__button
        margin-bottom: 5px

@media (max-width: 145px)
  .btn
    &__text
      line-height: 10px
      font-size: 10px
    &-outlook
      &__icon
        display: none
    &-info
      &__icon
        display: none
    &-otrs 
      &__icon
        display: none
    &-helpdesk
      &__icon
        display: none
    &-cloud
      &__icon
        display: none
    &-spark
      &__icon
        display: none
  .section
    &-blocks
      &__button
        min-height: 30px